$primary-color: #357b70;
$secondary-color: #e0b354;
$dark-grey: #2b2b2b;
$visited-color: #05676e;
$active-color: #5d301f;
$span-color: #d9dd07;
$grid-background-color: lightgray;
$button-border-bottom: rgba(0, 0, 0, 0.4);
$text-decoration: aliceblue;
$fill-0: #edc655;
$fill-50: #fcffad;
$fill-100: #f76414;


body {
	background-color: #f8ecdf;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.6;
}

h1 { 
	font-size: 30px;
	font-weight: 700;
}   
    
h2 { 
    @extend h1
}
h3 { 
	@extend h1
}


a {
	color: $primary-color;
	&:visited {
	    color: $visited-color;
    }
    &:hover {
        text-decoration: none;
    }
    &:active {
        color: $active-color;
    }
}

.navigation-list__item--active {
	text-decoration: $text-decoration;
}

.button, button {
	/* overwrites browser defaults and resets the border */
	border: none;
	/* takes the font from the outer container */
	font-family: inherit;
	/* styles the background color, font color, and text decoration (underline, etc.) of the button */
	background-color: $primary-color;
	color: white;
	text-decoration: none;
	/*adds spacing to the button (this will be discussed more in-depth later) */
	padding: 10px;
	border-radius: 3px;
	/* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
	border-bottom: 2px solid $grid-border-bottom;
	/* transition: duration protperty timing-function delay*/
	transition: .2  opacity;
}


.button__secondary {
    background-color: $secondary-color;
	color: $dark-grey;  
}


button:hover, button:focus, .button:hover, .button:focus {
	/* lets the mouse appear as a hand when hovering over the button */
	cursor: pointer;
	/* reduces the opacity of the button to 80% */
	opacity: 0.8;
  }

ul {
	display: inline;
}

.profile {
	max-width: 700px;
	margin: 0 auto;
    &__portrait {
        float: left;
    	width: 250px;
	    margin-right: 40px;
	    border-radius: 50%;
  }
}

.page-header {
	display: flex;
	width: 100%;
	padding: 20px;
    &__item {
        flex: 0 1 200px;
    }
    &__item:last-child {
        flex-grow: 1;
        text-align: right;
    }
}

.page-footer {
	clear: both;
	display: flex;
	flex-direction: column;
	text-align: center;
  }

* {
    box-sizing: border-box;
}

span {
    background-color: $span-color;
    font-weight: 900;
}


.navigation-list {
	  list-style-type: none;
	  
	  li {
	  display: inline-block;
	  margin-left: 15px;
	  
	  .navigation-list__item--active {
	  text-decoration: none;
	  
	  }
    }
}
.navigation-list__item--active {
	text-decoration: aliceblue;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
    &__item  {
	background-color: $grid-background-color;
	padding: 20px;
    }
    &__item:last-child {
	grid-column-start: 3;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 3;
    }
}



$max-width: 700px;
$margin: 0 auto;

.about, .about__information .skills__table, .contact__form, .contact__information {
    max-width:$max-width;
    margin: $margin;
}

/* Unique to screens below 500px*/

  @media all and (max-width: 500px) {
	.grid {
	  grid-template-columns: 1fr;
	}
  }
  /* Unique to screens betweem 500px amd 750px*/
  @media all and (min-width: 500px) and (max-width: 750px){
	.grid {
	  grid-template-columns: 1fr 1fr;
	}
  }
  /* shared */
  @media all and (max-width: 750px) {
	.grid {
	  grid-gap: 10px;
	}
	.grid__item:last-child {
	  grid-column: auto / auto;
	  grid-row: auto / auto;
	}
	h1 {
	  font-size: 22px;
	}
  }




@keyframes color-change {
	0% {
	  fill: $fill-0
	}
	50% {
	  fill: $fill-50;
	}
	100% {
	  fill: $fill-100;
	}
  }
/* the color-change calls upon what is defnied in keyframes above */
  .sun {
	animation: 4s color-change infinite alternate linear;
  }

  @keyframes cloud-move {
	  from{ 
		  transform: translate(0, 50px);
	  }
	  to {	
		  transform: translate(200px, 50px);
	  }
  }
.cloud-front {
  animation: 10s cloud-move infinite alternate ease
}

@keyframes cloud-move-reverse {
	from{ 
		transform: translate(446px, 48px);
	}
	to {	
		transform: translate(100px, 48px);
	}
}


.cloud-back {
	animation: 10s  infinite alternate cloud-move-reverse ease
  }
	  